---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Impressum";
---
<BaseLayout pageTitle={pageTitle}>

<p>
    <strong>Zum Kartoffelhaus e. V.</strong><br>
    Kloserhof 10<br>
    34399 Wesertal
  </p>

  <p>
    <strong>Vertreten durch:</strong><br>
    Luca Jakob <br>
    Fabian Feyk <br>
    Linus Grimm
  </p>

  <p>
    <strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:info@zum-kartoffelhaus.de">info@zum-kartoffelhaus.de</a><br>
  </p>

  <p>
    <strong>Registereintrag:</strong><br>
    Registergericht: Amtsgericht Kassel<br>
    Registernummer: VR 5854
  </p>

  <h2>Haftungsausschluss</h2>

  <h3>Haftung für Inhalte</h3>
  <p>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
    Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
  </p>

  <h3>Haftung für Links</h3>
  <p>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
    Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
    Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  </p>

  <h3>Urheberrecht</h3>
  <p>
    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
    Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
    Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors
    bzw. Erstellers.
  </p>


</BaseLayout>