---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
  <h2 class="kth">Zum Kartoffelhaus e.V.</h2>

  <h3><a href="/veranstaltungen">Veranstaltungen</a></h3>
</BaseLayout>